{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content%}

<div class="container mx-auto">          
    <div class="mt-10 sm:mt-10">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-6 text-gray-900">Enter the data of the Car</h3>
            <p class="mt-1 text-sm text-gray-600">All fields are required to register the car.</p>
          </div>
        </div>
        <div class="mt-5 md:col-span-2 md:mt-0 shadow-2xl mb-5">

          <form action="/entry/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if  errors %}
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert"> 
               <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>  
               <span class="sr-only">Danger</span>  
               <div>    
                <span class="font-medium">Error messages:</span>
                <ul class="mt-1.5 ml-4 list-disc list-inside">
                  {% for error in errors %}       
                  <li>{{error}}</li> 
                  {% endfor %}          
                </ul>  
              </div>
            </div>
            {% endif %}
            <!-- Success Message -->
            {% if  success %}
            <div class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert"> 
               <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>  
               <span class="sr-only">Success</span>  
               <div>    
                  {% for message in success %}       
                  <span class="font-medium">{{message}}</span> 
                  {% endfor %}            
              </div>
            </div>
            {% endif %}

            <div class="overflow-hidden shadow sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">
                <div class="grid grid-cols-6 gap-6" id="test">
                  <!-- Nombre del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.brand|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.brand type="text" name="brand" id="brand" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>   
                   <!-- Modelo del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.model|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.model type="text" name="model" id="model" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div> 
                  <!-- ID del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.inventary_number|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.inventary_number type="text" name="inventary_number" id="inventary_number" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>   
                   <!-- Año del carro -->
                   <div class="col-span-6 sm:col-span-2">
                    {{ form.year|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.year type="number" name="year" id="year" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>   
                  <!-- Fecha del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.entry_date|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.entry_date type="date" name="date" id="date" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
                  <!-- VIN del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.vin_number|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.vin_number type="text" name="vin_number" id="vin_number" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
                  <!-- Condicion del carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.condition|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.condition name="condition" id="condition" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
                  <!-- Condicion del titulo -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.title_condition|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.title_condition name="title_condition" id="title_condition" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
                  <!-- Precio del Carro -->
                  <div class="col-span-6 sm:col-span-2">
                    {{ form.price|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.price name="price" id="price" class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
                  </div>
                  <!-- Titulo del carro -->
                  <div class="col-span-6 sm:col-span-3 mt-8">
                    {{ form.title|add_label_class:"block text-sm font-medium leading-6 text-gray-900" }}
                    {% render_field form.title name="title" id="title" class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:border-gray-600 dark:placeholder-gray-400" %}
                  </div>
                  <div class="col-span-6 sm:col-span-3">                  
                    {{ form.image|add_label_class:"block text-sm font-medium leading-6 text-gray-900 mt-2" }}
                    {% render_field form.image name="car_image" id="car_image" class="mt-2 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6" %}                               
                  </div> 
                </div>
                <!-- Imagen del carro -->              
                                          
                <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                  <button type="submit" class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>



<!-- Script select dependientes  -->
<script>

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  let brand_field = document.getElementById("brand")
  let model_field = document.getElementById("model")
  
  brand_field.addEventListener("change", pickState)
  function pickState(e){
      brand_id = e.target.value
      const data = { user_id: brand_id}
      let url = " {% url 'models' %} "

fetch(url, {
method: 'POST', // or 'PUT'
headers: {
'Content-Type': 'application/json',
'X-CSRFToken': csrftoken
},
body: JSON.stringify(data),
})
.then(response => response.json())
.then(data => {
console.log('Success:', data[0]['name']);

model_field.innerHTML = `<option value = "" selescted>---------------</option>`
for(let i = 0; i<data.length; i++){
model_field.innerHTML += `<option value = "${data[i]["id"]}" selescted>${data[i]["name"]}</option>`

}
})
.catch((error) => {
console.error('Error:', error);
});

  }
</script>
<!-- End -->
{% endblock %}

